* {
	text-align: center;
}
body {
	margin: 20px !important;
}
::-moz-selection {
  background: #ccc;
}
::selection {
  background: #ccc;
}
img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}